<!DOCTYPE html>
<html lang="<%- lang %>">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
	<title><%- title %></title>
	<link rel="stylesheet" href="/c/a.css?<%- rev %>">
	<script src="/j/p.js?<%- rev %>" async defer></script>
</head>
<body>
	<header itemscope itemtype="http://schema.org/WPHeader">
		<div id="header-background"></div>
		<div id="header-inner">
			<div id="headline" itemprop="headline"><a href="/"><span><%- title %></span></a></div>

			<nav>
				<ul id="nav-list" itemscope itemtype="http://schema.org/SiteNavigationElement">
					<li class="wide">
						<a href="javascript:void(0)" touch-action="pan-y"><%- app_lib %></a>
						<ul>
							<li><a href="https://github.com/mntone/inknit" target="_blank" rel="noreferrer noopener" touch-action="pan-y" tabindex="-1"><%- inknit_title %></a></li>
							<li><a href="/profmonster/" itemprop="url" touch-action="pan-y" tabindex="-1"><%- profmons_title %></a></li>
							<li><a href="/ikaconnect/" itemprop="url" touch-action="pan-y" tabindex="-1"><%- ikaconnect %></a></li>
							<li><a href="/tvupl/" itemprop="url" touch-action="pan-y" tabindex="-1"><%- twittervideouploader %></a></li>
							<li><a href="https://github.com/mntone/RWinRT" target="_blank" rel="noreferrer noopener" touch-action="pan-y" tabindex="-1"><%- rwinrt_title %></a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" touch-action="pan-y"><%- external_site %></a>
						<ul>
							<li><a href="https://mstdn.jp/@mntone" rel="me noreferrer noopener" itemprop="url" touch-action="pan-y" tabindex="-1">Mastodon</a></li>
							<li><a href="https://x.com/mntone" rel="me noreferrer noopener" itemprop="url" touch-action="pan-y" tabindex="-1"><%- x_title %></a></li>
							<li><a href="https://www.youtube.com/channel/UCjUcm2VgZKQqWAtKJhUW8fw" rel="me noreferrer noopener" itemprop="url" touch-action="pan-y" tabindex="-1">YouTube</a></li>
							<li><a href="https://github.com/mntone" rel="me noreferrer noopener" itemprop="url" touch-action="pan-y" tabindex="-1">GitHub</a></li>
							<li><a href="httpss://mntone.hateblo.jp/" rel="me noreferrer noopener" itemprop="url" touch-action="pan-y" tabindex="-1"><%- hatena_blog %></a></li>
							<li><a href="http://www.amazon.co.jp/registry/wishlist/1NY96A3CYBC7E/ref=cm_sw_r_tw_ws_GhLpvb1BD1Z38" rel="noreferrer noopener" itemprop="url" touch-action="pan-y" tabindex="-1"><%- wish_list %></a>
							</li>
						</ul>
					</li>
				</ul>
				<div id="menu-button" touch-action="none"><a href="javascript:void(0)">
						<img id="menu-button-menu" src="/i/icon_menu.svg" alt="menu">
						<img id="menu-button-close" src="/i/icon_close.svg" alt="close">
					</a></div>
			</nav>
		</div>
	</header>

	<div id="content">
