<% include common/_header %>

<div>
	<h2 itemprop="headline"><%- bio %></h2>
	<div itemprop="articleBody">
		<% if (lang == "ja") { %>
		私のプロフィールは<a href="/bio.html">ここ</a>。
		<% } else { %>
		My bio is <a href="/bio.html">here</a>.
		<% } %>
	</div>

	<h2 itemprop="headline"><%- app_lib %></h2>
	<div id="gc" class="grid-container">
		<div class="grid-item grid-item-image grid3-item" touch-action="pan-y">
			<p style="background-image: url('/i/ic-uap10.0d-main-<%- lang %>-t20.png')"></p>
			<a href="/ikaconnect/"><div>
				<small><%- enjoysplatoon %></small>
				<h3><%- ikaconnect %></h3>
			</div></a>
		</div>
		<div class="grid-item grid-item-image grid3-item" touch-action="pan-y">
			<p style="background-image: url('/i/tvupl.15.png')"></p>
			<a href="/tvupl/"><div>
				<small><%- twitterhighquality %></small>
				<h3><%- twittervideouploader %></h3>
			</div></a>
		</div>
		<div class="grid-item grid3-item" touch-action="pan-y">
			<a href="https://github.com/mntone/RtmpClient" target="_blank"><div>
				<small><%- usertmp %></small>
				<h3>RtmpClient <wbr>for Windows Runtime</h3>
			</div></a>
		</div>
		<div class="grid-item grid3-item" touch-action="pan-y">
			<a href="https://github.com/mntone/SvgForXaml" target="_blank"><div>
				<small><%- usesvg %></small>
				<h3>Svg for xaml</h3>
			</div></a>
		</div>
		<div class="grid-item grid3-item" touch-action="pan-y">
			<a href="https://github.com/mntone/UniversalGraphics" target="_blank"><div>
				<small><%- useug %></small>
				<h3>UniversalGraphics</h3>
			</div></a>
		</div>
	</div>
	<script>
		var gc = document.getElementById("gc");
		var items = gc.childNodes;
		for (var i = 0; i !== items.length; ++i)
		{
			var item = items[i];
			if (item.nodeName !== "DIV") continue;

			var a = item.getElementsByTagName("a")[0];
			a.addEventListener("keydown", function (e) {
				if (e.keyCode === 13) e.currentTarget.parentElement.classList.add("keydown");
			});
		}
	</script>
</div>

<% include common/_footer %>
