<% include base/head %>

<div>
	<h2 itemprop="headline"><%- bio %></h2>
	<div itemprop="articleBody">
		<% if (lang == "ja") { %>
		私のプロフィールは<a href="/bio.html">ここ</a>。
		<% } else { %>
		My bio is <a href="/bio.html">here</a>.
		<% } %>
	</div>

	<h2 itemprop="headline"><%- app_lib %></h2>
	<div id="gc" class="grid-container my-grid-container">
		<div class="grid3-item-cols2 grid3-item-rows2 my-grid-item my-grid-item-image" touch-action="pan-y">
			<p style="background-image: url('/i/ikaconnect.100.png')"></p>
			<a href="/ikaconnect/"><div>
				<%- enjoysplatoon %>
				<h1><%- ikaconnect %></h1>
				<h3><%- deliveredikaconnect %></h3>
			</div></a>
		</div>
		<div class="grid3-item my-grid-item my-grid-item-image" touch-action="pan-y">
			<p style="background-image: url('/i/tvupl.15.png')"></p>
			<a href="/tvupl/"><div>
				<small><%- twitterhighquality %></small>
				<h3><%- twittervideouploader %></h3>
			</div></a>
		</div>
		<div class="grid3-item my-grid-item" touch-action="pan-y">
			<a href="https://github.com/mntone/RtmpClient" target="_blank"><div>
				<small><%- usertmp %></small>
				<h3>RtmpClient <wbr>for Windows Runtime</h3>
			</div></a>
		</div>
		<div class="grid3-item my-grid-item" touch-action="pan-y">
			<a href="https://github.com/mntone/SvgForXaml" target="_blank"><div>
				<small><%- usesvg %></small>
				<h3>Svg for xaml</h3>
			</div></a>
		</div>
	</div>
	<script>
		var gc = document.getElementById("gc");
		var items = gc.childNodes;
		for (var i = 0; i != items.length; ++i)
		{
			var item = items[i];
			if (item.nodeName != "DIV") continue;

			var a = item.getElementsByTagName("a")[0];
			a.addEventListener("keydown", function (e) {
				if (e.keyCode == 13) e.currentTarget.parentElement.classList.add("keydown");
			});
		}
	</script>
</div>

<% include base/foot %>