<% include ../common/_header %>

<article itemscope itemtype="http://schema.org/Article">
    <h1 itemprop="headline"><%- ikaconnect %></h1>

    <div itemprop="articleBody">
        <% if (lang == "ja") { %>
        <p>IkaConnectはスプラトゥーンのサービス「イカリング」を用いたフレンドのステータスやステージの予定を見ることができるアプリです。</p>
        <p class="mark">※ 当アプリは、スプラトゥーンの非公式アプリであり、任天堂株式会社とは一切の関係がございません。アプリに関するお問い合わせはサポートの連絡先のほうへお願いします。</p>
        <p class="mark">※ イカリングの仕様変更によりアプリが予期せぬ動作が発生することがあります。</p>
        <% } else { %>
        <p>SplatConnect is the app that get friends’ status and schedule from Nintend Official Service “SplatNet.”</p>
        <p class="mark">* The app is Splatoon unofficial app, so it is not related to Nintendo. Please send contact if you have any questions.</p>
        <p class="mark">* The app happens buggy behavior because of changing SplatNet spec.</p>
        <% } %>
    </div>

    <h2 itemprop="headline"><%- recommended_environment %></h2>
    <h5><%- ikaconnect %> for Windows 8.1</h5>
    <div itemprop="articleBody">
        <ul>
            <li>Arch: Intel x86, AMD64 (Intel 64), ARM</li>
            <li>OS: Windows 8.1, Windows RT 8.1</li>
        </ul>
    </div>
    <h5><%- ikaconnect %> for Windows Phone 8.1</h5>
    <div itemprop="articleBody">
        <ul>
            <li>OS: Windows Phone 8.1</li>
            <li><%- resolution %>: <%- all_supports %> (WVGA, WXGA, 720p, 1080p)</li>
        </ul>
    </div>
    <h5><%- ikaconnect %> for UWP</h5>
    <div itemprop="articleBody">
        <ul>
            <li>Arch: Intel x86, AMD64 (Intel 64), ARM</li>
            <li>OS: Windows 10 (Desktop, Mobile)</li>
        </ul>
    </div>

    <h2 itemprop="headline"><%- downloads %></h2>
    <div itemprop="articleBody">
        <p><%- agree_privacy_policy.replace("{0}", "privacy.html") %></p>
        <p><a href="https://www.microsoft.com/store/apps/ikaconnect/9nblggh6c6m6" target="blank"><%- download_by_windows_store %></a></p>
    </div>

    <% if (lang == "ja") { %>
    <h2 itemprop="headline"><%- update_history %> (UWP 版)</h2>
    <h5>v2.4.5</h5>
    <div itemprop="articleBody">
        <ul>
            <li>Red Stone 1 (1607) の新機能アダプティブ トーストに対応しました。通知に画像が表示されるようになります。</li>
        </ul>
    </div>
    <h5>v2.4.4</h5>
    <div itemprop="articleBody">
        <ul>
            <li>Splatoon 2.9.0 に対応しました</li>
        </ul>
    </div>
    <h5>v2.4.3</h5>
    <div itemprop="articleBody">
        <ul>
            <li>Splatoon 2.8.0 に対応しました</li>
            <li>ブキチセレクション Vol. 2 の新ブキに対応しました</li>
        </ul>
    </div>
    <h5>v2.4.2</h5>
    <div itemprop="articleBody">
        <ul>
            <li>塗りポイント表示に対応しました</li>
            <li>不具合を修正しました</li>
        </ul>
    </div>
    <h5>v2.4.1</h5>
    <div itemprop="articleBody">
        <ul>
            <li>Splatoon 2.7.0 に対応しました</li>
            <li>新しいブキに対応しました</li>
            <li>不具合を修正しました</li>
        </ul>
    </div>
    <h5>v2.4.0</h5>
    <div itemprop="articleBody">
        <ul>
            <li>ブキとギアの一覧機能を追加しました</li>
        </ul>
    </div>
    <label class="more-button" for="more-version">続きを読む</label>
    <input id="more-version" type="checkbox" />
    <div class="more">
        <h5>v2.3.4</h5>
        <div itemprop="articleBody">
            <ul>
                <li>不具合を修正しました</li>
            </ul>
        </div>
        <h5>v2.3.3</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Splatoon 2.6.0 のギアパワー変更に対応しました</li>
                <li>フクのギア名表示に対応しました</li>
            </ul>
        </div>
        <h5>v2.3.2</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Windows 10 Mobile での動作改善を行いました</li>
            </ul>
        </div>
        <h5>v2.3.1</h5>
        <div itemprop="articleBody">
            <ul>
                <li>サブ/スペシャルウェポンの表示に対応しました</li>
            </ul>
        </div>
        <h5>v2.3.0</h5>
        <div itemprop="articleBody">
            <ul>
                <li>ギアパワー情報の表示に対応しました</li>
            </ul>
        </div>
        <h5>v2.2.5</h5>
        <div itemprop="articleBody">
            <ul>
                <li>アンチョビットゲームズに対応しました</li>
            </ul>
        </div>
        <h5>v2.2.4</h5>
        <div itemprop="articleBody">
            <ul>
                <li>トースト通知の動作を変更しました</li>
            </ul>
        </div>
        <h5>v2.2.3</h5>
        <div itemprop="articleBody">
            <ul>
                <li>ハイドラントカスタムに対応しました</li>
            </ul>
        </div>
        <h5>v2.2.2</h5>
        <div itemprop="articleBody">
            <ul>
                <li>アタマ、クツのみギア名表示に対応しました</li>
                <li>不具合を修正しました</li>
            </ul>
        </div>
        <h5>v2.2.1</h5>
        <div itemprop="articleBody">
            <ul>
                <li>スクリュースロッシャーネオに対応しました</li>
                <li>不具合を修正しました</li>
            </ul>
        </div>
        <h5>v2.2.0</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Cortanaに対応しました!!</li>
                <li>不具合を修正しました</li>
            </ul>
        </div>
        <h5>v2.1.9</h5>
        <div itemprop="articleBody">
            <ul>
                <li>不具合を修正しました</li>
            </ul>
        </div>
        <h5>v2.1.8</h5>
        <div itemprop="articleBody">
            <ul>
                <li>バッテリー節約機能に対応しました。バッテリー節約機能が有効になっている場合、通常より更新間隔が遅くなります。</li>
                <li>不具合を修正しました</li>
            </ul>
        </div>
        <h5>v2.1.7</h5>
        <div itemprop="articleBody">
            <ul>
                <li>ホクサイ・ヒューのローカライズを追加しました</li>
                <li>不具合を修正しました</li>
            </ul>
        </div>
        <h5>v2.1.6</h5>
        <div itemprop="articleBody">
            <ul>
                <li>言語選択機能を付けました</li>
                <li>不具合の修正およびWindows 10 Mobileでの動作を改善しました</li>
            </ul>
        </div>
        <h5>v2.1.5</h5>
        <div itemprop="articleBody">
            <ul>
                <li>ショッツル鉱山の画像に対応しました</li>
            </ul>
        </div>
        <h5>v2.1.4</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Rブラスターエリートデコのローカライズを追加しました</li>
                <li>不具合を修正しました</li>
            </ul>
        </div>
        <h5>v2.1.3</h5>
        <div itemprop="articleBody">
            <ul>
                <li>フェスマッチ表示に対応しました</li>
                <li>不具合を修正しました</li>
            </ul>
        </div>
        <h5>v2.1.2</h5>
        <div itemprop="articleBody">
            <ul>
                <li>セマンティック ズームに対応しました</li>
                <li>不具合を修正しました</li>
            </ul>
        </div>
        <h5>v2.1.1</h5>
        <div itemprop="articleBody">
            <ul>
                <li>不具合を修正しました</li>
            </ul>
        </div>
        <h5>v2.1.0</h5>
        <div itemprop="articleBody">
            <ul>
                <li>ウデマエ、最後に使用していた装備の表示に対応しました</li>
                <li>ソート機能を実装しました</li>
                <li>動作の改善を行いました</li>
            </ul>
        </div>
        <h5>v2.0.7</h5>
        <div itemprop="articleBody">
            <ul>
                <li>トーストが 2 重に表示される問題を修正しました</li>
            </ul>
        </div>
        <h5>v2.0.6</h5>
        <div itemprop="articleBody">
            <ul>
                <li>キーボード操作の向上 (Ctrl+Tab, Ctrl+Shift+Tab でタブを移動できます)</li>
                <li>「ikaconnect://」スキームに対応しました</li>
                <li>ジャンプリストに対応しました (バージョン 1511 以降)</li>
            </ul>
        </div>
        <h5>v2.0.5</h5>
        <div itemprop="articleBody">
            <ul>
                <li>不具合を修正しました</li>
            </ul>
        </div>
        <h5>v2.0.4</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Windows 10 の新しいアダプティブ タイルに対応しました</li>
                <li>タイルやトーストの通知のオプションを追加しました</li>
            </ul>
        </div>
        <h5>v2.0.3</h5>
        <div itemprop="articleBody">
            <ul>
                <li>ステージ変更までのカウントダウンタイマー機能を追加しました</li>
                <li>オフラインやオンラインのユーザーを非表示にする機能を追加しました</li>
                <li>Windows 10 Mobile (Phone) でのステータス バー表示を復活しました</li>
            </ul>
        </div>
        <h5>v2.0.2</h5>
        <div itemprop="articleBody">
            <ul>
                <li>ユーザー体験の向上</li>
                <li>濃色設定を追加しました (Desktop ファミリー)</li>
                <li>Windows 10 Mobile で起動しない不具合の修正</li>
            </ul>
        </div>
        <h5>v2.0.1</h5>
        <div itemprop="articleBody">
            <ul>
                <li>F5 更新のサポートを復活しました</li>
                <li>いくつかの不具合を修正しました</li>
            </ul>
        </div>
        <h5>v2.0.0</h5>
        <div itemprop="articleBody">
            <ul>
                <li>UWP 版をリリースしました</li>
            </ul>
        </div>
    </div>
    <% } else { %>
    <h2 itemprop="headline"><%- update_history %> (UWP version)</h2>
    <h5>v2.4.5</h5>
    <div itemprop="articleBody">
        <ul>
            <li>Support new feature adaptive toast for Red Stone 1 (1607). Show the stage image in notification.</li>
            <li>Improve translation quality.</li>
        </ul>
    </div>
    <h5>v2.4.4</h5>
    <div itemprop="articleBody">
        <ul>
            <li>Support Splatoon Version 2.9.0</li>
        </ul>
    </div>
    <h5>v2.4.3</h5>
    <div itemprop="articleBody">
        <ul>
            <li>Support Splatoon Version 2.8.0</li>
            <li>Add Sheldon’s Picks Vol. 2 support</li>
        </ul>
    </div>
    <h5>v2.4.2</h5>
    <div itemprop="articleBody">
        <ul>
            <li>Add turfed ink view feature</li>
            <li>Some bug fixes</li>
        </ul>
    </div>
    <h5>v2.4.1</h5>
    <div itemprop="articleBody">
        <ul>
            <li>Support Splatoon Version 2.7.0</li>
            <li>Add new weapon support</li>
            <li>Some bug fixes</li>
        </ul>
    </div>
    <h5>v2.4.0</h5>
    <div itemprop="articleBody">
        <ul>
            <li>Add weapons & gears list feature</li>
        </ul>
    </div>
    <label class="more-button" for="more-version">more</label>
    <input id="more-version" type="checkbox" />
    <div class="more">
        <h5>v2.3.4</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Some bug fixes</li>
            </ul>
        </div>
        <h5>v2.3.3</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Support ability parameter for Splatoon 2.6.0</li>
                <li>Support clothes’ gear name</li>
            </ul>
        </div>
        <h5>v2.3.2</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Improve Windows 10 Mobile behavior</li>
            </ul>
        </div>
        <h5>v2.3.1</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Show sub/special weapon name</li>
            </ul>
        </div>
        <h5>v2.3.0</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Support ability information view</li>
            </ul>
        </div>
        <h5>v2.2.5</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Support Ancho-V Games</li>
            </ul>
        </div>
        <h5>v2.2.4</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Change toast notification behavior</li>
            </ul>
        </div>
        <h5>v2.2.3</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Add Custom Hydra Splatling</li>
            </ul>
        </div>
        <h5>v2.2.2</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Show head’s and shoes’ gear name</li>
                <li>Some bug fixes.</li>
            </ul>
        </div>
        <h5>v2.2.1</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Add Sloshing Machine Neo</li>
                <li>Some bug fixes</li>
            </ul>
        </div>
        <h5>v2.2.0</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Add Cortana support!!</li>
                <li>Some bug fixes</li>
            </ul>
        </div>
        <h5>v2.1.9</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Some bug fixes</li>
            </ul>
        </div>
        <h5>v2.1.8</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Support battery saver. Delay fetching data when battery saving mode is on</li>
                <li>Some bug fixes</li>
            </ul>
        </div>
        <h5>v2.1.7</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Add Octobrush Nouveau</li>
                <li>Some bug fixes</li>
            </ul>
        </div>
        <h5>v2.1.6</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Support language selection</li>
                <li>Some bug fixes and improve behaviors for Windows 10 Mobile</li>
            </ul>
        </div>
        <h5>v2.1.5</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Support Piranha Pit image</li>
            </ul>
        </div>
        <h5>v2.1.4</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Add Rapid Blaster Pro Deco</li>
                <li>Some bug fixes</li>
            </ul>
        </div>
        <h5>v2.1.3</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Support Splatfest Battle</li>
                <li>Some bug fixes</li>
            </ul>
        </div>
        <h5>v2.1.2</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Change app brand name, “IkaConnect” to “SplatConnect”</li>
                <li>Support semantic zoom</li>
                <li>Some bug fixes</li>
            </ul>
        </div>
        <h5>v2.1.1</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Some bug fixes</li>
            </ul>
        </div>
        <h5>v2.1.0</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Show users’ level/rank and latest equipment</li>
                <li>Friend list is sortable!</li>
                <li>Improve app behavior</li>
            </ul>
        </div>
        <h5>v2.0.7</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Fix the problem to notify the same toast.</li>
            </ul>
        </div>
        <h5>v2.0.6</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Improve keyboard support. (Move with Ctrl+Tab, Ctrl+Shift+Tab)</li>
                <li>Support scheme “ikaconnect://.”</li>
                <li>Support jump list. (Version 1511 and later)</li>
            </ul>
        </div>
        <h5>v2.0.5</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Some bug fixes</li>
            </ul>
        </div>
        <h5>v2.0.4</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Support adaptive tile (It's Windows 10 new feature)</li>
                <li>Add options for tile and toast</li>
            </ul>
        </div>
        <h5>v2.0.3</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Add count down timer</li>
                <li>Add feature to hide offline/online users</li>
                <li>Come back to status bar indicator for Windows 10 Mobile (Phone)</li>
            </ul>
        </div>
        <h5>v2.0.2</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Improve user experience</li>
                <li>Add dark theme (Desktop family)</li>
                <li>Do not launch app in Windows 10 Mobile</li>
            </ul>
        </div>
        <h5>v2.0.1</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Add F5 update support</li>
                <li>Some bug fixes</li>
            </ul>
        </div>
        <h5>v2.0.0</h5>
        <div itemprop="articleBody">
            <ul>
                <li>Release UWP version</li>
            </ul>
        </div>
    </div>
    <% } %>
</article>

<div class="screenshot">
    <h2 itemprop="headline"><%- screenshots %></h2>
    <div>
        <picture>
            <source type="image/webp" srcset="/i/ic-uap10.0d-main-<%- lang %>.webp">
            <img src="/i/ic-uap10.0d-main-<%- lang %>.png" class="top" style="max-width: 512px" alt="ss1">
        </picture>
    </div>

    <h5><%- ikaconnect %> for Windows 8.1</h5>
    <div class="image-list">
    <% ["main", "profile"].forEach(function (item) { %>
        <a href="/i/ic-win81-<%- item %>-<%- lang %>.png" target="_blank">
            <picture>
                <source type="image/webp" srcset="/i/ic-win81-<%- item %>-<%- lang %>-t10.webp, /i/ic-win81-<%- item %>-<%- lang %>-t15.webp 1.5x, /i/ic-win81-<%- item %>-<%- lang %>-t20.webp 2x, /i/ic-win81-<%- item %>-<%- lang %>-t30.webp 3x">
                <img src="/i/ic-win81-<%- item %>-<%- lang %>-t10.png" srcset="/i/ic-win81-<%- item %>-<%- lang %>-t15.png 1.5x, /i/ic-win81-<%- item %>-<%- lang %>-t20.png 2x, /i/ic-win81-<%- item %>-<%- lang %>-t30.png 3x" alt="IkaConnect for Windows 8.1 Thumb">
            </picture>
        </a>
    <% }) %>
    </div>

    <h5><%- ikaconnect %> for Windows Phone 8.1</h5>
    <div class="image-list">
    <% ["friends", "profile", "regular", "ranked", "tile1", "tile2"].forEach(function (item) { %>
        <a href="/i/ic-wpa81-<%- item %>-<%- lang %>.png" target="_blank">
            <picture>
                <source type="image/webp" srcset="/i/ic-wpa81-<%- item %>-<%- lang %>-t10.webp, /i/ic-wpa81-<%- item %>-<%- lang %>-t15.webp 1.5x, /i/ic-wpa81-<%- item %>-<%- lang %>-t20.webp 2x, /i/ic-wpa81-<%- item %>-<%- lang %>-t30.webp 3x">
                <img src="/i/ic-wpa81-<%- item %>-<%- lang %>-t10.png"  srcset="/i/ic-wpa81-<%- item %>-<%- lang %>-t15.png 1.5x, /i/ic-wpa81-<%- item %>-<%- lang %>-t20.png 2x, /i/ic-wpa81-<%- item %>-<%- lang %>-t30.png 3x" alt="IkaConnect for Windows 8.1 Thumb">
            </picture>
        </a>
    <% }) %>
    </div>

    <h5><%- ikaconnect %> for UWP</h5>
    <h6>Desktop</h6>
    <div class="image-list">
        <% ["main", "regular", "ranked"].forEach(function (item) { %>
            <a href="/i/ic-uap10.0d-<%- item %>-<%- lang %>.png" target="_blank">
                <picture>
                    <source type="image/webp" srcset="/i/ic-uap10.0d-<%- item %>-<%- lang %>-t10.webp, /i/ic-uap10.0d-<%- item %>-<%- lang %>-t15.webp 1.5x, /i/ic-uap10.0d-<%- item %>-<%- lang %>-t20.webp 2x, /i/ic-uap10.0d-<%- item %>-<%- lang %>-t30.webp 3x">
                    <img src="/i/ic-uap10.0d-<%- item %>-<%- lang %>-t10.png"  srcset="/i/ic-uap10.0d-<%- item %>-<%- lang %>-t15.png 1.5x, /i/ic-uap10.0d-<%- item %>-<%- lang %>-t20.png 2x, /i/ic-uap10.0d-<%- item %>-<%- lang %>-t30.png 3x" alt="IkaConnect for Windows 8.1 Thumb">
                </picture>
            </a>
        <% }) %>
    </div>
    <h6>Mobile</h6>
    <div class="image-list">
    <% ["friends", "profile", "profile2", "regular", "ranked"].forEach(function (item) { %>
        <a href="/i/ic-uap10.0m-<%- item %>-<%- lang %>.png" target="_blank">
            <picture>
                <source type="image/webp" srcset="/i/ic-uap10.0m-<%- item %>-<%- lang %>-t10.webp, /i/ic-uap10.0m-<%- item %>-<%- lang %>-t15.webp 1.5x, /i/ic-uap10.0m-<%- item %>-<%- lang %>-t20.webp 2x, /i/ic-uap10.0m-<%- item %>-<%- lang %>-t30.webp 3x">
                <img src="/i/ic-uap10.0m-<%- item %>-<%- lang %>-t10.png"  srcset="/i/ic-uap10.0m-<%- item %>-<%- lang %>-t15.png 1.5x, /i/ic-uap10.0m-<%- item %>-<%- lang %>-t20.png 2x, /i/ic-uap10.0m-<%- item %>-<%- lang %>-t30.png 3x" alt="IkaConnect for Windows 8.1 Thumb">
            </picture>
        </a>
    <% }) %>
    </div>
</div>

<% include ../common/_footer %>